<!-- search -->
<div class="shadowbox column">
  <h4>ADMIN</h4>
  <ul>
    {% if current_user %}
    <li><a href="/compose">{{ _("New post") }}</a> </li>
    <li><a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a></li>
    {% else %}
      {% raw _('<a href="%(url)s">Sign in</a> to compose/edit') % {"url": "/auth/login?next=" + url_escape(request.uri)} %}
    {% end %}
    {% if entry_id %}
      <li><a href="/compose?id={{ entry_id }}">{{ _("Edit") }}</a> </li>
      <li><a class="delete-article" href="javascript:void(0)" onclick="delete_article({{ entry_id }})">Delete</a></li>
    {% end %}
    </ul>
</div>

