<h3>Comments:</h3>

{% if not comments %}
  <div id="no-comments"><p>&nbsp;&nbsp;no comments yet</p></div>
{% end %}

<div id="comments-list">
  <!-- show comments list -->
  {% for comment in comments %}
    {% if comment["reply_id"] > 0 %}
      <!-- reply comment exists -->
      {% module CommentsItem( comment, comments[ reply_map[comment["reply_id"]] ] ) %}
    {% elif comment["reply_id"] == -1 %}
      <!-- reply comment deleted -->
      {% module CommentsItem( comment, {'author': 'unknown', 'url':'javascript:void(0);', 'content': 'This comment has been deleted'} ) %}
    {% else %}
      <!-- no reply -->
      {% module CommentsItem(comment) %}
    {% end %}
  {% end %}
</div>

<!-- show comments Post -->
{% module CommentsPost(entry_id) %}

<!-- xsrf cookie -->
{% module xsrf_form_html() %}
