<!-- BEGIN: add reply -->
<div id="comments-post">
  <div id = "comments-post-info">
    <h3>Add a new comment:</h3>
  </div>
  <form id="addreply" action="/comment">
    <!-- author -->
    <div class="form-group">
        <input name="author" type="text" class="form-control" placeholder="Name (required)" value="{{ current_user["name"] if current_user else "" }}" />
      <div class="form-message" ><span class="required">*</span></div>
    </div>
    <!-- email -->
    <div class="form-group">
        <input name="email" type="text" class="form-control" id="email" placeholder="Email (required)" value="{{ current_user["email"] if current_user else "" }}" />
      <div id="isemail"class="form-message" ><span class="required">*</span></div>
    </div>
    <!-- url -->
    <div class="form-group">
      <input name="url" type="text" class="form-control" id="url" placeholder="Your website" />
      <div id="isurl" class="form-message"></div>
    </div>
    <!-- content -->
    <div class="form-group">
      <textarea name="content" rows="10" cols="40" class="form-control" id="content" placeholder="Say something ... "></textarea>
      <div class="form-message" ><span class="required">*</span></div>
    </div>
    <input type="submit" value="Submit" class="submit"/>
  </form>
</div>
<!-- END: add reply -->
