<div class="pagination">
    <a href="#" class="first" data-action="first">&laquo;</a>
    <a href="#" class="previous" data-action="previous">&lsaquo;</a>
    <a href="#" class="plain">
      <span>page</span>
      <span><input type="text" readonly="readonly" data-max-page="{{pages}}"/></span>
      <span>of</span>
      <span>{{pages}}</span>
    </a>
    <a href="#" class="next" data-action="next">&rsaquo;</a>
    <a href="#" class="last" data-action="last">&raquo;</a>
</div>

<!-- xsrf cookie -->
{% module xsrf_form_html() %}
